:root{
    --bg:#3b0a1a;
    --card:#4d0e22;
    --accent:#a92b4b;
    --text:#f7d6dc;
}

*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

body{
    min-height:100vh;
    display:flex;
    justify-content:center;
    align-items:center;

    background:linear-gradient(
        180deg,
        #4a0d21,
        #290611
    );

    font-family:'Plus Jakarta Sans',sans-serif;
}

.login-container{

    width:90%;
    max-width:400px;

    background:rgba(255,255,255,.05);

    backdrop-filter:blur(15px);

    border:1px solid rgba(255,255,255,.1);

    border-radius:24px;

    padding:40px 25px;

    text-align:center;

    color:var(--text);
}

.logo{

    width:90px;
    height:90px;

    margin:auto;

    border-radius:50%;

    display:flex;
    align-items:center;
    justify-content:center;

    background:var(--accent);

    font-size:2rem;
}

h1{

    font-family:'Cinzel',serif;

    margin-top:20px;
}

p{

    margin-top:10px;

    opacity:.8;
}

#googleLogin{

    width:100%;

    margin-top:30px;

    padding:15px;

    border:none;

    border-radius:12px;

    cursor:pointer;

    background:#fff;

    font-size:1rem;

    font-weight:600;

    display:flex;
    align-items:center;
    justify-content:center;
    gap:10px;
}

#googleLogin:hover{
    transform:translateY(-2px);
}